<h1>Util使用</h1>
<ul>
	<li>
		{{#link-to "demo.list"}}Array{{/link-to}}
	</li>
	<li>
		{{#link-to "demo.number"}}Number{{/link-to}}
	</li>
	<li>
		{{#link-to "demo.date"}}Date{{/link-to}}
	</li>
	<li>
		{{#link-to "demo.cookie"}}Cookie{{/link-to}}
	</li>
	<li>
		{{#link-to "demo.security"}}Security{{/link-to}}
	</li>
</ul>
<hr>
{{outlet}}